# Ignore built dist folder
#
dist/
temp/
build/*.html
tmp
*.log
.sass-cache

# OSX
#
.DS_Store

.idea

# node.js
#
.npm
node_modules/
npm-debug.log

# Editors
#
tsconfig.json
.editorconfig
.vscode

.env
TODO.txt
