section.contact-wrapper
		h1#contact.section-title= generic.menuContact
		p.section-description= generic.contactText
		.contacts-links
				a.link-pine(href="tel:+46703987208")= specific.phonenumber
				a.link-pine(href= specific.mailto)= specific.email