section.contact-wrapper
		img.section-image(src='../img/contact-img.png' alt="phone illustration")
		h1#contact.section-title= generic.menuContact
		p.section-description= generic.contactText
		.contacts-links
				a.link-pine(href="tel:+46703987208")= specific.phonenumber
				a.link-pine(href= specific.mailto)= specific.email