block cv
section#cv.s-col
        img.img-linework.pdg-sides-5p.mrg-top-80(src='../img/kajsa-unge_linework.png')
section.site-container-col.mrg-top.mrg-btm-40
        h1.text-dark.m-mrg-top-40.mrg-btm CV
        p.text-dark.ingress.mrg-btm-30 &amp; arbetslivserfarenhet
        .cv-block.mrg-btm-50.pdg
            .cv-item
                p.text-333_90p.em.mrg-btm--5 September 2016 - pågående
                h3.caps UI DESIGNER &amp; FRONTENDUTVECKLARE
                p.em Futurice. Stockholm
                p.small-hide
                    | I vissa projekt arbetar jag primärt med design, i andra främst med utveckling. Allt som oftast blir det ändå både designande och kodande, det går ju hand i hand. Futurice är ett toppenställe med härlig kultur och generositet på alla sätt. Massor med frihet och ansvar.
                span.bold Lärdom - Varje dag är full av nya insikter och lärdomar. Mycket inom kod och business
            .cv-item
                p.text-333_90p.em.mrg-btm--5 2012 - Augusti 2016
                h3.caps Art Director
                p.em Crimson. Stockholm
                p.small-hide
                    | Stort kreativt utrymme med ansvar för profilering och marknadsföring. Utöver pr- och profilering, jobbar jag även med webbdesign och front, planering och utformning av event, mässor, showroom och fotograferingar. Är även inblandad i projekt relaterade till produktutveckling och interna system.
                span.bold Lärdom - Inblick i foto- och tryckproduktion + insikt om kärlek till frontend
            .cv-item
                p.text-333_90p.em.mrg-btm--5 January 2009 - pågående
                h3.caps Grafisk formgivare + illustratör
                p.em Frilans. Stockholm
                p.small-hide
                    | En bred blandning av grafisk formgivning så som skapande av identiteter, trycksaker, illustrationer, småsajter, fotoretushering och grafik.
                span.bold Lärdom - tid är pengar
            .cv-item
                p.text-333_90p.em.mrg-btm--5 2011 - 2012
                h3.caps Konsult
                p.em Adecco. Stockholm
                p.small-hide
                    | Utbygge av intranät, med fokus på interaktion för att öka antalet användare.
                span.bold Lärdom - aptit är givande, i alla lägen
            .cv-item
                p.text-333_90p.em.mrg-btm--5 Mars 2008 - Januari 2009
                h3.caps Digital assistent
                p.em Canon. Sydney, Australien
                p.small-hide
                    | Administrativt arbete som snart övergick i att skapa presentationsmaterial följt av att jobba med förbättringar av innehåll och struktur på intranätet.
                span.bold Lärdom - att undvika långa ledtider kräver inte bara charm utan även driv och expertis
            //- .cv-item
            //-     p.text-333_90p.em.mrg-btm--5 April 2006 - Oktober 2012
            //-     h3.caps Personlig assistent
            //-     p.em Kooperativ Viol. Stockholm
            //-     p.small-hide
            //-         | Tillstod med praktisk hjälp i vardagen åt en cp-skadad konstnärssjäl.
            //-     span.bold Lärdom - Positiv inställning is the holy shit
            //- .cv-item
            //-     p.text-333_90p.em.mrg-btm--5 2012 - 2012
            //-     h3.caps Kock
            //-     p.em Melanders Fisk. Stockholm
            //-     p.small-hide
            //-         | Lagade härligt goda fisk- och skaldjursrätter.
            //-     span.bold Lärdom - inkokt lax, 125°C i 45 minuter (i vattenbad)
            //- .cv-item
            //-     p.text-333_90p.em.mrg-btm 2005 - 2005
            //-     h3.caps Säljare
            //-     p.em DK Ergonomics. Stockholm
            //-     p.small-hide
            //-         | Support och försäljning av ergonimiska datortillbehör.
            //-     span.bold Lärdom - att fånga någons intresse genom ord och ton
            //- .cv-item
            //-     p.text-333_90p.em.mrg-btm--5 April 2003 - Oktober 2004
            //-     h3.caps Kock + Bartender
            //-     p.em Absolute bar | Muffin café. Marbella, Spanien
            //-     p.small-hide
            //-         | Baka, laga lättare luncher och göra mängder med kaffe. Göra drinkar och hälla upp öl. Servera, diska och skratta.
            //-     span.bold Lärdom - spanska
            //- .cv-item
            //-     p.text-333_90p.em.mrg-btm--5 2002 - 2003
            //-     h3.caps Au pair
            //-     p.em Mr &amp; Mrs Green. New Jersey, USA
            //-     p.small-hide
            //-         | Som 20-åring tog jag mig an "Amerikat" för att få utlopp för en, i mitt tycke, isolerad uppväxt på Gotland. Tiden ägnades främst till att plugga engelska och spanska, träna, och leka med en 3-åring. Stora som små lärdomar alltså.
            //-     span.bold Lärdom - man är den man vill vara

        h2.text-dark.mrg-top-40.mrg-btm Utbildningar
        p.text-dark.ingress.mrg-btm-30 &amp; kurser
        .utb-block
            p.utb-category Yrkesutbildningar
            .utb-item
                p.text-333_90p.em.mrg-btm--5 2007 - 2009
                h5.font-bodycopy.caps.mrg-btm--5 Associate Degree of Communication Design, 3 semesters
                p.em.mrg-top-5
                    a.link-yellow(href='http://www.billyblue.edu.au/' target="_blank") Billy Blue. Sydney, Australien
            .utb-item
                p.stext-333_90pm.em.mrg-btm--5 2007
                h5.font-bodycopy.caps.mrg-btm--5 Associate Degree of Communication Design, 1 semester
                p.em.mrg-top-5
                    a.link-yellow(href='http://www.berghs.se/' target="_blank") Berghs. Stockholm
            p.utb-category  Onlinekurser
            .utb-item
                p.text-333_90p.em.mrg-btm--5 2014 - 2015
                h5.font-bodycopy.caps.mrg-btm--5 Html 5 Fundamentals + CSS3 In-Depth &amp; more
                p.em.mrg-top-5
                    a.link-yellow(href='https://www.pluralsight.com/' target="_blank") Pluralsight
            .utb-item
                p.text-333_90p.em.mrg-btm--5 2014 - 2015
                h5.font-bodycopy.caps.mrg-btm--5 CSS Fundations. SASS basics. GitHub Basics. Css Flexbox layout
                p.em.mrg-top-5
                    a.link-yellow(href='https://teamtreehouse.com/library' target="_blank") Treehouse
            .utb-item
                p.text-333_90p.em.mrg-btm--5 2016 - 2017
                h5.font-bodycopy.caps.mrg-btm--5 React Native, GASP Animations &amp; more
                p.em.mrg-top-5
                    span.link-yellow Egghead, Free code camp, Laracsts
