block footer
footer#js_stick-to-bottom.site-footer
	.mrg-left
	div
		a.mrg-left(href='https://codepen.io/kajsaunge/' target="_blank")
			img.img-footer-icons(src='../img/kajsa-unge_codepen.svg', title="Codepen" alt='kajsa unge on codepen. Animations')
		a.mrg-left-90(href='https://se.linkedin.com/in/kajsaunge' target="_blank")
			img.img-footer-icons(src='../img/kajsa-unge_linked.svg', title="Kajsa Unge on LinkedIn" alt='kajsa unge linkedin')
		a.mrg-left-90(href='https://instagram.com/kajsaunge/' target="_blank")
			img.img-footer-icons(src='../img/kajsa-unge_insta.svg', title="Kajsa Unge on Instagram" alt='kajsa unge instagram')
		a.mrg-left-90(href='http://randomize.kajsaunge.se/' target="_blank")
			img.img-footer-icons(src='../img/kajsa-unge_randomize.svg', title="Random list generator, a side-project" alt='kajsa unge randomizr')
		//- a.mrg-left-90.mrg-top-5(href='http://randomize.kajsaunge.se/' target="_blank")
		//- 	i.fa.fa-random.fa-lg.bold.link-dark
		a.mrg-left-90(href='http://converter.kajsaunge.se/' target="_blank")
			img.img-footer-icons(src='../img/kajsa-unge_unit-converter.svg', title="Convert units, a side-project" alt='kajsa unge converter')
	.mrg-right

