footer.site-footer
		a(href='https://codepen.io/kajsaunge/' target="_blank")
			img.footer-icons(src='../img/kajsa-unge_codepen.svg', title="Codepen" alt='kajsa unge on codepen. Animations')
		a(href='https://se.linkedin.com/in/kajsaunge' target="_blank")
			img.footer-icons(src='../img/kajsa-unge_linked.svg', title="Kajsa Unge on LinkedIn" alt='kajsa unge linkedin')
		a(href='https://instagram.com/kajsaunge/' target="_blank")
			img.footer-icons(src='../img/kajsa-unge_insta.svg', title="Kajsa Unge on Instagram" alt='kajsa unge instagram')
		a(href='http://randomize.kajsaunge.se/' target="_blank")
			img.footer-icons(src='../img/kajsa-unge_randomize.svg', title="Random list generator, a side-project" alt='kajsa unge randomizr')
		a(href='http://converter.kajsaunge.se/' target="_blank")
			img.footer-icons(src='../img/kajsa-unge_unit-converter.svg', title="Convert units, a side-project" alt='kajsa unge converter')

