footer.site-footer
		a(href='https://codepen.io/kajsaunge/' target="_blank").footer-link.codepen Codepen
		a(href='https://se.linkedin.com/in/kajsaunge' target="_blank").footer-link.linkedin LinkedIn
		a(href='https://instagram.com/kajsaunge/' target="_blank").footer-link.insta Insta
		a(href='http://randomize.kajsaunge.se/' target="_blank").footer-link.random Randomize
		a(href='http://converter.kajsaunge.se/' target="_blank").footer-link.convert Converter

