doctype html
-const json = require('../../src/locals/locals.json');

html#page
    include head
    body#body.site
        button#closeModal.close-button
            span Stäng projekt
        include project-view
        include nav
        header#header.site-header
        main.site-container
            include about
            include projects
            include cv
            include contact
        include footer
