extends layout

block content
    section.s-col.bgc-white
        img.img-profile.pdg-sides-5p.mrg-top-80(src='../img/kajsa-unge_profile.svg' title="Kajsa Unge profile image" alt="Kajsa Unge profile image")
    section#about.site-container-col.bgc-grey-dark.main-header.mrg-btm-40.pdg-top-50.pdg-btm-70
        h1.text-center Vem är hon?
        p.ingress Kajsa Unge
        p UI designer  |  Frontendare  |  Illustratör
        p.text-block.mrg-top-40
          | Jag är en så kallad hybrid, en person med fler än en superkraft. <span class="text-highlight">Design</span> är min spetskompetens men min erfarenhet och passion sträcker sig långt in i <span class="text-highlight">frontend-området.</span> Under en dag hoppar mellan Sketch, Terminalen, VS Code, någon simulator, och Chrome (läs: stack overflow :)) ). Som hybrid får jag högre fart och frihet till att påverka det jag tar mig för.
          Det bidrar även till att jag får en bredare förståelse för processer och koncept, och även för kollegor, samarbetspartners och kunder.
        p.text-block.pdg-top-20
          | En av mina största passioner är att skapa funktionell design som ger användaren en upplevelse över förväntan - får man med sig användarna når man businessmålen. Jag föredrar att jobba <span class="text-highlight">itterativt</span> och nära kunden, gärna i ett tight team där <span class="text-highlight">höga kvalitétskrav</span> är en självklarhet.
        p.text-block.pdg-top-20
          | Utanför arbetet sker en hel del lek, ofta med <span class="text-highlight">min son Loa</span>, annars med något sidoprojekt. Är totalt beroende av mineralvatten, senap och att skriva listor. Ett par, tre, fyra gånger om året åker jag hem till <span class="text-highlight">Gotland</span> och säger "Jobbe?" och lutar mig tillbaks med farsangubben. Rent generellt är jag lugn, initiativtagande, positiv och ödmjuk. Så är det, jajamänsan.
