doctype html
html#main
    include head
    body#page-top.site
        include project-page
        include nav
        header#header.site-header
            //- img.main-logo(src='../img/kajsa-unge_main-logo.svg', title="Kajsa Unge logo" alt='kajsa unge logo')
        section.site-container
            main.site-container-main
                block content
                include projectsList
                include cv
                section.site-container-col.bgc-ku-bg.text-dark.mrg-top-80.mrg-btm-80.pdg-btm-30
                    h1#contact.h1_max-75= generic.menuContact
                    p.text-dark.ingress= generic.contactText
                    p.s-col.mrg-top-20
                        a.link-pine(href="tel:+46703987208")= specific.phonenumber
                        a.link-pine(href= specific.mailto)= specific.email
            include footer
        script(type='text/javascript', src='js/bundle.js')
