doctype html
html#main
    include head
    body#page-top.site
        include project-page
        include nav
        header.site-header
            a(href='index.html')
                img.main-logo(src='../img/kajsa-unge_main-logo.svg', title="Kajsa Unge logo" alt='kajsa unge logo')
        section.site-container
            main.site-container-main
                block content
                section.s-col.m-mrg-top-80
                    img.img-linework(src='../img/kajsa-unge_linework2.png')
                section.site-container-col.text-blue-dark.s-mrg-top-50_m-mrg-top--30
                    h1#project Projekt
                    p.ingress.mrg-btm-50 Lite av varje

                    section#projectsContainer.s-col_l-row.max-1200-center
                        include projectsList
                include cv
                section.site-container-col.bgc-ku-bg.text-dark.mrg-top-80.mrg-btm-80.pdg-btm-30
                    h1#contact.h1_max-75 Säg hej
                    p.s-col.mrg-top-20
                        a.link-pine(href="tel:+46703987208") +46 (0)70 3987 208
                        a.link-pine(href="mailto:hej@kajsaunge.se?subject=Mail from Kajsa Unges site") hej@kajsaunge.se
            include footer
        script(type='text/javascript', src='../js/main.js')
