doctype html
html#main.hide-html
    include head
    body#page-top.site(data-spy='scroll', data-target='.navbar-fixed-top')
        header.site-header
            a(href='index.html')
                img.main-logo(src='../img/kajsa-unge_main-logo_fff.png', title="Kajsa Unge logo" alt='kajsa unge logo')
        section.site-container
            include nav
            main.site-container-main
                block content
                include projects
                include cv
                section#contact.site-container-col.bgc-ku-bg.text-dark.mrg-top-80.mrg-btm-80.pdg-btm-30
                    h1.h1_max-75 S채g hej
                    //- p.caps.mrg-btm-20.mrg-top S책 tar vi det d채rifr책n
                    p.s-col.mrg-top-20
                        a.link-pine(href="tel:+46703987208") +46 (0)70 3987 208
                        a.link-pine(href="mailto:hej@kajsaunge.se?subject=Mail from Kajsa Unges site") hej@kajsaunge.se
            include footer
        // Scrolling Nav JavaScript
        script(type='text/javascript', src='../js/main.js')
        script(src='../js/jquery.easing.min.js')
        script(src='../js/scrolling-nav.js')

