block nav-projects

nav#js_fixed-on-scroll.caps.project-nav(role='navigation')
	a.nav-bar.hide-fade-html(href='index.html')
		img.main-logo(src='../img/kajsa-unge_main-logo.png', alt='Kajsa Unge logo')
		a.hide-fade-html.about(href='index.html') Om
		a.page-scroll(href='#project', data-offset='91') Projekt
		a.hide-fade-html.cv(href='index.html', data-offset='500') Cv
		a.page-scroll(href='#contact', data-offset='0') Kontakt


		