block nav

nav#main-nav.caps.nav(role='navigation')
		a.scroll.home-link(href='index.html#page-top')
			img.main-logo(src='../img/kajsa-unge-logo.svg', alt='Kajsa Unge logo')
		a.scroll(href='#about') Om
		a.scroll(href='#project') Projekt
		a.scroll.cv(href='#cv') Cv
		a.scroll(href='#contact') Kontakt
