block nav

nav.caps.nav(role='navigation')
		a.home-link(href='index.html')
			img.main-logo(src='../img/kajsa-unge-logo.svg', alt='Kajsa Unge logo')
		a#abouther.hide-fade-html.about(href='index.html#about') Om
		a.page-scroll(href='#project') Projekt
		a#shedid.hide-fade-html.cv(href='index.html#cv') Cv
		a.page-scroll(href='#contact') Kontakt