-const json = require('../../src/locals/locals.json');
nav#main-nav.nav(role='navigation')
		a#home.scroll.home-link(href='index.html#body')
			img.home-link-logo(src='img/kajsa-unge-logo.svg', alt='kajsa unge logo')
		a.scroll(href='index.html#about')= json.generic.menuAbout
		a.scroll(href='#project')= json.generic.menuWork
		a.scroll.cv(href='index.html#cv')= json.generic.menuCv
		a.scroll(href='#contact')= json.generic.menuContact
