extends layout-project

block content
    section.projectHeader.bgc-grey-dark
      .projectImgBox.bgc-grey-dark
        img.projectImg(src='../img/project/baksida/kajsa-unge_baksida-header.jpg', alt='magasin, annonser, illustrationer, koncept')
      .projectTextBox.bgc-grey-dark.mrg-btm
        h1 Baksida
        p.ingress Magasin, annoser
        p.citat - Grafiskt, grafiskt, grafiskt
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-80.resp-type    
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://crimson.se/') Crimson
            p
              | Crimson är ett professionellt fotolabb &amp; digitalt tryckeri. Deras kunder sträcker sig från den enskilde fotoentusiasten till stora utställare och museer.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm 2015
            p
              | Som AD på Crimson ansvarar jag för all kommunikation och marknadsföring, och således all annonsering. Det fina med Crimson är att deras annonser alltid har handlat om profiliering och varumärkesbyddande isället för produkterna i sig. Varje annons har skräddarsytts till den aktuella och relevanta målgruppen. Detta är något jag med glädje hr strävat efter att bibehålla. Det här är ett exempel på hur det kunde te sig.
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm Annonsmaterial
            p
              | Här visar jag en annonsserie som gjordes för Cap&amp;Design, där fokus låg på frågan om vad kvalité är. Ett mycket grafiskt och rent formspråk användes där vi utnyttjade profilens egen palett och typografi.
    section.site-container-col.mrg-btm-50.m-mrg-btm-80
        img#cap-passion.img-lg(src='../img/project/baksida/kajsa-unge_baksida-passion.png', alt='annons, kvalitet är passion')
    section.site-container-col.text-dark.mrg-top-50.mrg-btm-50.m-mrg-btm-80
        img#cap-mangfald.img-mid(src='../img/project/baksida/kajsa-unge_baksida-mangfald.png', alt='annons, kvalitet är mångfald')
    section.site-container-col.text-dark.m-mrg-btm-80
        img#cap-erfarenhet.s-img-70_m-img-50_l-img-30(src='../img/project/baksida/kajsa-unge_baksida-erfarenhet.png', alt='annons, kvalitet är erfarenhet') 
    section.s-col_m-row-left.pdg-sides-10p.pdg-btm-50
        article
            img#cap-flexibilitet.img-col(src='../img/project/baksida/kajsa-unge_baksida-noggrann-flex.png', alt='cap&design, annons, kvalitet är noggrannhet och flexibilitet')
        article.s-col-start.text-dark.mrg-top
            h3.mrg-btm-30 Kärnpunkter
            a.link-blue-dark.page-scroll(href='#cap-noggrannhet', data-offset='25') Noggrannhet
            p
              | För att representera noggrannhet användes branchenliga sätt att kontrollera färger, mått och marginaler.
              br
              br
            a.link-blue-dark.page-scroll(href='#cap_jamnhet', data-offset='85') Jämnhet
            p
              | För att illustrera att Crimson levererar ett jämnt resultat använde jag symbolen för icc-profiler. 
              br
              br
            a.link-blue-dark.page-scroll(href='#cap-flexibilitet', data-offset='130') Flexibilitet
            p
              | Här ville vi visa på de kraftfulla möjligheterna vid beställningsförfarandet dvs möjligheten att justerna färmättnad, nivåer etc.
              br
              br
            a.link-blue-dark.page-scroll(href='#cap-punktlighet', data-offset='265') Punktlighet
            p
              | Då denna målgrupp ofta har en snäv deadline var det viktigt att förmedla Crimsons förståelse och respekt för det.
              br
              br
            a.link-blue-dark.page-scroll(href='#cap-mangfald', data-offset='85') Mångfald
            p
              | Hur illustrerar man mångfalt? Man listar, skriver ut, viser grenar och rötter - eller hur.
              br
              br
            a.link-blue-dark.page-scroll(href='#cap-passion', data-offset='130') Passion
            p
              | Passion - essensen av nörderi. Designers är väl ena riktiga nördar. Det var bara att gå till sig själv i denna fråga. Färg, space, typografi, hex-text, you name it. 
              br
              br
            a.link-blue-dark.page-scroll(href='#cap-erfarenhet', data-offset='85') Erfarenhet
            p
              | En utmaning, hur illustrerar man erfarenhet? Här gjordes det genom att lyfta fram gammal som ny teknik, och samtidigt ha bilden i fokus.
              br
              br
            a.link-blue-dark.page-scroll(href='#cap-helhet', data-offset='85') Helhet
            p
              | Här kombinerades alla värdeord, eller snarare alla värdeillustrationer. Det var inte jättelätt att få det snyggt men tillslut så blev det riktigt bra.
              br
              br
    section.site-container-col.text-dark.mrg-top-50
        img#cap_jamnhet.img-mid(src='../img/project/baksida/kajsa-unge_baksida-jamnhet.png', alt='cap och design annons, kvalitet är jämnhet')
    section.site-container-col.bgc-grey-dark.pdg-top
        h2.text-center.mrg-top-40 Dpi, raster, vacuumhål...
        p.ingress.mrg-btm-40 ...och punktlighet
        img#cap-punktlighet.img-lg(src='../img/project/baksida/kajsa-unge_baksida-punktlighet.png', alt='cap och design, annons, kvalitet är punktlighet')
    section.site-container-col.text-dark.pdg-top-50
        h2#kundkorg-rwd.text-dark.mrg-top-40.mrg-btm Helhet
        p.text-dark.ingress - Det är kvalité
        img#cap-helhet.img-sm.pdg-top-80.pdg-btm-80(src='../img/project/baksida/kajsa-unge_baksida-helhet.png', alt='annons, kvalitet är helhet')
    section.site-container-col.text-dark.pdg-btm-20.pdg-top-50
        img.img-mid(src='../img/project/baksida/kajsa-unge_baksida-indigo.png', alt='annons, kvalitet är erfarenhet, indigo')
    section.site-container-col.bgc-grey-dark.mrg-btm-40.pdg-top-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Gissa sju gånger om det var extremt roligt att jobba med denna annonsserie. Materialet blev dessutom mycket uppskattat av både tidningen och målgruppen. Score! 
