extends layout-project

block content
    section.projectHeader.bgc-grey-dark
        .projectImgBox.bgc-grey-dark
          img#panevino-id.img-lg(src='../img/project/panevino/kajsa-unge_panevino-header.jpg', alt='trycksaker, visitkort, restaurang, grafisk design')
        .projectTextBox.bgc-grey-dark
          h1 Panevino
          p.ingress Print
          p.citat - Gärna lite retro, modernt, stilrent, starka färger, amen du kan det där
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.mrg-btm-80.resp-type
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://panevino.se/') Panevino
            p
              | Panevino öppnade 2010 med en ambition om att bli Sveriges bästa Italienare, baserat på ett utsökt utbud av mat, vin och service. De har verkligen lyckats.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm 2013 - 2015
            p
              | Det fanns ett behov att fräscha upp och göra deras grafiska språk modernare och layouterna mer överskådliga.
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm Print
            p
              | Med stor kreativ frihet utvecklade jag ett grafiskt språk som tilltalade Panevino själva och deras kunder. Detta har sedan byggts på och användts till menyer, affischer, visitkort och pr-material. Jag ansvarade för hela produktionen, från originalarbete till färdiga trycksaker.
    section.site-container-col.text-dark
        img#panevino-season.img-lg.pdg-sides-10p.mrg-rgt-10p(src='../img/project/panevino/kajsa-unge_panevino-open-menu.png', alt='trycksaker, print, menyer, grafisk design')
    section.s-col_m-row-left.pdg-sides-10p.mrg-btm-50
        article
            img#kundkorg-module.img-col(src='../img/project/panevino/kajsa-unge_panevino-menu-cover.png', alt='trycksaker, print, menyer, grafisk design')
        article.s-col-start.text-dark.mrg-top-30
            a.link-blue-dark.page-scroll(href='#panevino-id', data-offset='85') En identitet
            p
              | Det var en utmaning att förstå kärnan i Panevinos passion, vilket var nödvändigt för att möjliggöra förmedlandet av den spektakulära upplevelse Panevino levererar. Det blev ett gäng riktigt smakrika besök med långa snack som resulterade i en lyckad utveckling av deras identitet och grafiska språk.
              br
              br
            a.link-blue-dark.page-scroll(href='#panevino-illu', data-offset='85') Illustrationer
            p
              | Det absolut roligaste med dessa uppdrag var att få göra illustrationerna. Främsta verktyg: penna och papper, Illustrator, Indesign, Photoshop.
              br
              br
            a.link-blue-dark.page-scroll(href='#panevino-season', data-offset='130') Efter säsong
            p
              | Då restaurangen byter meny efter säsong, lät vi även säsongen prägla både färger och former för designen. Dessutom har restaurangen olika deler, vilket i sig bäddar för olika utformningar beroende på vilken.
    section.site-container-col.text-dark.pdg-btm-80
        img.img-lg.pdg-sides-10p(src='../img/project/panevino/kajsa-unge_panevino-vinlista.png', alt='trycksaker, illustration, vinlista, grafisk design')
    section.site-container-col.bgc-grey-dark.pdg-btm-50
        img#panevino-illu.img-lg.pdg-sides-10p.pdg-top-50(src='../img/project/panevino/kajsa-unge_panevino-illustrationer.png', alt='illustrationer, vektor, grafik, grafisk design')
    section.site-container-col.bgc-grey-dark.pdg-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Samarbetet var mycket roligt och säkert minst lika hetsigt som deras kök under högtryck. Det är alltid roligt att jobba med kunder som är passionerade för det de gör.
    
