block project-page

section.overlay
    button#closeModal.close-button
        span Stäng projekt
    //- , alt= projects[key].headerImgAlt
    section.projectHeader.bgc-grey-dark
        .projectImgBox
          img#cr-id.img-lg(src= headerImage)
        .projectTextBox
          h1= title
          p.ingress PROJECT-PAGE!
          p.citat - Det vet vi inte, vi har bara gjort
