extends layout-project

block content
    section.projectHeader.bgc-grey-dark
        .projectImgBox.bgc-grey-dark
          img#tremedia-skiss.img-lg(src='../img/project/tremedia/kajsa-unge_tremedia-header.jpg', alt='work in progress, skiss och digitalisering')
        .projectTextBox.bgc-grey-dark
          h1 Tremedia
          p.ingress Print
          p.citat - Det ska passa och tilltala landets gymnasieskolor och elever
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.resp-type
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://tremedia.se') Tremedia
            p
              | Tremedia är landets marknadsledande producent av utbildningsinformation. De lägger stor vikt på mångfald och normbrytning då målgruppen är skolor samt blivande gymnasieelever i hela landet.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm 2014
            p
              | Det behövdes en ny profil till årets programväljare innehållande en färgpalett, typsnitt, illustrationer samt en layout för omslaget. Materialet skulle även användas till webb och andra trycksaker.
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm Print
            p
              | Till största delen gjordes materialet analogt dvs, skisser, akvareller och framtagning av paletten. Sedan, efter tonvis med konstruktiv feedback togs allt in för digital bearbetning och sammansättning. 
    section.site-container-col.text-dark
        img#tremdedia-fram-bak.img-lg(src='../img/project/tremedia/kajsa-unge_tremedia-bak-fram.jpg', alt='omslag, fram- och baksida, illustration')
    section.site-container-col.text-dark.border-top-dark-20.border-btm-dark-20
        img.img-lg(src='../img/project/tremedia/kajsa-unge_tremedia-uppslag.jpg', alt='omslag magasin')
    section.s-col_m-row-left-justCntr.pdg-sides-10p.pdg-top-80.pdg-btm-80
        article
            img.img-col(src='../img/project/tremedia/kajsa-unge_tremedia-komponenter.png', alt='work in progress, beståndsdelar av akvareller, illustrationer och typografi')
        article.s-col.text-dark.m-mrg-top-80
            h3.myriad Komponenter
            p
              | 1. Akvareller
              br 
              | 2. Maskering
              br
              | 3. Blyerstillustration + vektor linjer
              br
              a.link-blue-dark.page-scroll(href='#tremedia-type', data-offset='85') 4. Typsnitt för masthead - Baron
              br
              a.link-blue-dark.page-scroll(href='#tremedia-type', data-offset='85') 5. Typsnitt för detaljer - Futura
    section.site-container-col.bgc-grey-dark.pdg-top-50
        img#tremedia-type.img-mid.mrg-top-40(src='../img/project/tremedia/kajsa-unge_tremedia-typografi.png', alt='projektets typografi - baron och futura')
    section.site-container-col.bgc-grey-dark.mrg-btm-40.pdg-top-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Samarbetet var extremet smidigt då folket på Tremedia visste vad de var ute efter och gav riktigt bra med feedback. Det fanns en ömsesidig respekt som var härlig att befinna sig i. Beställarna var nöjda och katalogen blev uppskattad.
