extends layout-project

block content
    section.projectHeader.bgc-grey-dark
        .projectImgBox.bgc-grey-dark
          img#wwl-orders.img-lg(src='../img/project/wwl/kajsa-unge_wwl-header.jpg', alt='wireframe, webbskiss')
        .projectTextBox.bgc-grey-dark
          h1 wwl
          p.ingress Orderhanteringssystem
          p.citat - Enkelt &amp; funktionellt med syfte att effektivisera
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.mrg-btm-80.resp-type
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://crimson.se/') Crimson
            p
              | Crimson är ett professionellt fotolabb &amp; digitalt tryckeri. Deras kunder sträcker sig från den enskilde fotoentusiasten till stora utställare och museer.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm November 2015 - Januari 2016
            p
              | Det behövdes ett verktyg för att lägga in färdiga ordrar i ett system, som dessutom skulle underlätta för personalen att sedan hitta och lämna ut. 
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm Internt system
            p
              | Tillsammans med en systemutvecklare projektledde jag det hela och höll möten och feedback-sessioner med berörda. Vi tog vi fram ett koncept, en design och tillslut en helhetslösning. Här blev jag introducerad för Subverion som verisionshantering.
    section.site-container-col.text-dark.pdg-top-50
        h2#wwl-interfaces.text-dark.mrg-top-40.mrg-btm Tre olika användare
        p.text-dark.ingress Neutralt | In i systemet | Ut ur systemet
        img.img-lg.mrg-top-20(src='../img/project/wwl/kajsa-unge_wwl-browsers.png', alt='webdesign')
    section.s-col_m-row-left.pdg-sides-10p.pdg-btm-50
        article
            img#wwl-pattern.img-col(src='../img/project/wwl/kajsa-unge_wwl-pattern-library.png', alt='kajsa unge designmönster')
        article.s-col-start.text-dark.mrg-top
            a.link-blue-dark.page-scroll(href='#wwl-interfaces', data-offset='85') Användare
            p
              | För att hantera och dela in systemets olika funktioner skapade vi tre olika lägen, eller användare. Ett neutralt att utgå ifrån, ett för att peta in ordrar i systemet och ett för att lämna ut ordrarna till kund. 
              br
              br
            a.link-blue-dark.page-scroll(href='#wwl-pattern', data-offset='85') Visuell design
            p
              | De tre olika lägena tilldelades olika färger och symboler, dels för att hålla dem isär och dels för att underlätta förändringen för anvandarna. Då färg och form i stort redan var etablerat ökade utrymmet för att fokusera på funktion. Personligen gillar jag att jobba varierat så det var riktigt kul att få koncentrera mig lite mer på de tekniska bitarna.
              br
              br
            a.link-blue-dark.page-scroll(href='#wwl-orders', data-offset='130') Fokus på funktionalitet
            p
              | Det fanns möjlighet att peta in en hel del bonusfunktioner i systemet - filtrering för att t.ex. få fram och hantera daterade ordrar, göra bulk-mailutskick, statistik och omsortering och framförallt att förenkla hanteringen av utlämningen av ordrar, vilket skulle öka servicen.
              br
              br
            a.link-blue-dark.page-scroll(href='#wwl-orders', data-offset='130') Även ett fysiskt system
            p
              | Vi behövde även lösa frågan om den fysiska hanteringen av ordrarna och systemet. Vi byggde en dynamisk hylla för att produkterna, som varierar i storlek från klassiska 15x10 cm fotokopior till riktigt stora monterade konstverk, skulle få plats. 
    section.site-container-col.text-dark.pdg-top-20.mrg-top-40.mrg-btm-80
        img.img-mid(src='../img/project/wwl/kajsa-unge_wwl-hylla.png', alt='hylla för ordrar')
    section.site-container-col.text-dark.pdg-top-20.mrg-top-40.mrg-btm-80
        img.img-mid(src='../img/project/wwl/kajsa-unge_wwl-imac.png', alt='website på imac')
    section.site-container-col.bgc-grey-dark.pdg-top-50.pdg-btm-50
        img.img-sm(src='../img/project/wwl/kajsa-unge_wwl-palett.png', alt='webbapp palett')
    section.site-container-col.text-dark.mrg-btm-40.pdg-top-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Den största utmaningen var att projektleda ett sådant här projekt som skulle innebära en stor förändring för de inblandade. Jag lärde mig att avväga input och feedback, återkoppla till rätt person, i rätt läge, för projektets skull. 