img.section-image(src='../img/work-img.png')
h1#project.section-title= generic.menuWork
p.section-description= generic.workText
section#projectsListContainer.projects-listing
    -var ProjectsList = []
    -for(var key in projects)
        -ProjectsList.push(projects[key])
    each project in ProjectsList
        -var projectId = project.title.toLowerCase().replace(/\s/g,'')
        a.projects-listing-item(id= projectId)
            .projects-listing-item__title
                h3= project.title
                p= project.tags
            .projects-listing-item__thumb
                img(src= project.thumb, alt= project.thumbAlt)