-const json = require('../../src/locals/locals.json');
-const jsonProjects = require('../../src/locals/locals.json').projects;

img.section-image(src='./img/work-img.png')
h1#project.section-title= json.generic.menuWork
p.section-description= json.generic.workText
section#projectsListContainer.projects-listing
    -var ProjectsList = []
    -for(var key in jsonProjects)
        -ProjectsList.push(jsonProjects[key])
    each project in ProjectsList
        -var projectId = project.title.toLowerCase().replace(/\s/g,'')
        a.projects-listing-item(id= projectId)
            .projects-listing-item__title
                h3= project.title
                p= project.tags
            .projects-listing-item__thumb
                img(src= project.thumb, alt= project.thumbAlt)