extends layout-project

block content
    section.projectHeader.bgc-grey-dark
        .projectImgBox.bgc-grey-dark
            img.img-lg(src='../img/project/viol/kajsa-unge_viol-header.jpg', alt='rullstol i akvarell')
        .projectTextBox.bgc-grey-dark
            h1 Illustrationer
            p.ingress Illustration, Print
            p.citat - Vi behöver något de kan identifiera sig med
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.mrg-btm-80.resp-type
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://www.koop-viol.se/') Viol
            p
              | VIOL står för "Vi I Oberoende Liv" och är ett brukarstyrt kooperativ som bildades 2004.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm 2015
            p
              | Då det fanns ett behov att utöka medlemsantalet ville kopperativet ha material som tilltalade målgruppen utan att vara för "på". Mer specefikt, de behövde visuellt material att komplettera sin befintliga profil med. 
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm 
            p
              | Det var inte svårt att känna ett personligt engagemang vilket gjorde det extremet lätt att komma fram med ett koncept. Det gillades och jag skapade material för bland annat t-shirts, vykort och tygväskor, samt material för digitalt bruk. Jag stod för produktionen från början till slut. 
    section.site-container-col.text-dark.pdg-top-80.pdg-btm-80
        img#viol-unik.img-mid.m-pdg-btm-80(src='../img/project/viol/kajsa-unge_viol-unik.png', alt='blandteknik med akvarell och typografi')
    section.s-col_m-row-left.pdg-sides-10p.pdg-btm-40
        article
            img.img-col.pdg-top-30(src='../img/project/viol/kajsa-unge_viol-tshirt.png', alt='illuaatration och design på t-shirt')
        article.s-col-start.text-dark.mrg-top
            a.link-blue-dark.page-scroll(href='#viol-unik', data-offset='40') En tagline
            p
              | Till konceptet skapade jag en tagline. Något det flesta men framförallt den aktuella målgruppen kunde identifiera sig med, och som företaget kunde använda även i framtiden. 
              br
              br
            a.link-blue-dark.page-scroll(href='#viol-akvarell', data-offset='85') Akvarell
            p
              | Jag gjorde illustrationerna i akvarell, vilket dels kändes lämpligt och dels roligt att jobba med i det här sammanhanget. I slutänden köpte kunden de signerade originalen till sitt huvudkontor. 
              br
              br
    section.site-container-col.text-dark.pdg-top-50.lg-mrg-top-40
        h2#viol-akvarell.text-dark.mrg-btm Akvareller
        p.text-dark.ingress.mrg-btm-30 Originalen
        img.img-mid.mrg-btm-50(src='../img/project/viol/kajsa-unge_viol-akvarell-wheel.png', alt='rullstolshjul i akvarell')
        img.img-mid.mrg-btm-50(src='../img/project/viol/kajsa-unge_viol-akvarell-can.png', alt='konservburk i akvarell')
        img.img-mid(src='../img/project/viol/kajsa-unge_viol-akvarell-feel.png', alt='filmjölkspaket i akvarell')
    section.s-col.text-dark.mrg-btm-40.pdg-top-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Jag gillar verkligen sådana här uppdrag där möjligheten ges att blanda tekniker och skapa något riktigt unikt. Det var ett roligt och kreativt uppdrag med stor frihet och lyckat resultat. 
