block projectsList
    button.project.overlayLink#firstNode
        .project-kid.grow.link-white.contrast
            h3.mrg-btm--10
            p.caps.pdg-10
        .project-kid
            img.box-img
        
