extends layout-project

block content
    section.projectHeader.bgc-grey-dark
        .projectImgBox.bgc-grey-dark
            img.img-lg(src='../img/project/reprint/kajsa-unge_reprint-header.jpg', alt='work in progress, skiss och koncept')
        .projectTextBox.bgc-grey-dark
            h1 Reprint
            p.ingress Web
            p.citat - Vi behöver ett enkelt verktyg för snabb ombeställning
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.mrg-btm-80.resp-type
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://crimson.se/') Crimson / B2B
            p
              | Crimson är ett professionellt fotolabb &amp; digitalt tryckeri. Deras målgrupp sträcker sig från den enskilde fotoentusiasten till stora utställare och museer.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm 2014
            p
              | Ett litet projekt med endast två inblandade, en långt erfaren utvecklare samt jag, som då var hyperfärsk på front. Målet var att snabbt få fram en app som skulle underlätta processen för ombeställningar. Ett inlogg, ett formulär, thats it. 
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm Web
            p
              | Efter feedback på skisser för flöde och design byggde vi en prototyp, som vi senare kunde bygga vidare på. Det var snabb utveckling med direkt implementering vilket var kul och mycket lärorikt. 
    section.s-col_m-row-left.mrg-top-80.pdg-sides-10p.pdg-btm-50
        article
            img#kundkorg-module.img-col(src='../img/project/reprint/kajsa-unge_reprint-form.png', alt='webdesign, sök och formulär')
        article.s-col-start.text-dark.mrg-top
            a.link-blue-dark.page-scroll(href='#kundkorg-rwd', data-offset='85') Responsivitet
            p
              | Ja det är väl en självklarhet idag. En app av denna omfattning är inte svår att göra responsiv, även om det var tydligt att målgruppen nästintill uteslutande skulle sitta på en desktop. Jag såg ingen mening att inte skapa förutsättningarna för att möjliggöra en mobil upplevelse.  
              br
              br
            a.link-blue-dark.page-scroll(href='#kundkorg-module', data-offset='85') Minimalt
            p
              | Att skala av kan vara en utmaning. Att skapa något som säger väldigt lite med ett språk som brukar ha väldigt mycket att säga, det är en ännu större utmaning. Att utamingar är kul är det ingen tvekan om.
    section.site-container-col.pdg-btm-50
        img#kundkorg-popups.img-lg(src='../img/project/reprint/kajsa-unge_reprint-browsers.png', alt='work in progress, browsertesting')
    section.site-container-col.bgc-grey-dark.mrg-btm-40.pdg-top-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Projektet genomfördes smidigt, speciellt med tanke på rookiestadiet jag befann mig i, och blev klart på kort tid. Det var riktigt kul att jobba med ett så litet projekt då resultatet av arbetet visade sig både tydligt och snabbt. 
