extends layout-project

block content
    section.projectHeader.bgc-grey-dark
        .projectImgBox.bgc-grey-dark
            img.projectImg(src='../img/project/kundkorg/kajsa-unge_kundkorg-header.jpg', alt='webb, webshop, cart, kundkorg')
        .projectTextBox.bgc-grey-dark
            h1 Kundkorg
            p.ingress Web
            p.citat - Det måste inte vara några krusiduller
    section.s-col_m-row.bgc-grey-dark.pdg-top-50.pdg-btm-50.mrg-btm-80.resp-type
        article.s-col_m-row_item
            h2 Kunden
            p.em.pdg-btm
              a.link-yellow(href='http://crimson.se/' target="_blank") Crimson
            p
              | Crimson är ett professionellt fotolabb &amp; digitalt tryckeri. Deras kunder sträcker sig från den enskilde fotoentusiasten till stora utställare och museer.
        article.s-col_m-row_item
            h2 Projektet
            p.em.pdg-btm 2014 - 2015
            p
              | Att skapa en gemensam kundkorg för alla produkter från olika webbtjänster, som tidigare hanterades som separata transaktioner. Lösningen skulle även underlätta hanteringen av frakt och leveranser.
        article.s-col_m-row_item.mrg-btm-40
            h2 Arbetet
            p.em.pdg-btm Web
            p
              | I ett team på två jobbade jag med arkitektur, flöde och design. Jag lämnade Sublime text 3 för att testa och bli kär i PhpStorm. Som superfärsk att designa genom kod blev jag genast blixtförälskad i SCSS och att jobba med flexbox. Vi använde Git för verisionshantering. 
    section.site-container-col.text-dark.pdg-top-20
        img#kundkorg-macbook.img-mid.mrg-top-80(src='../img/project/kundkorg/kajsa-unge_kundkorg-laptop.png', alt='webb, webshop, mavbook, kundkorg')
    section.s-col_m-row-left.pdg-sides-10p.pdg-btm-50
        article
            img#kundkorg-module.img-col(src='../img/project/kundkorg/kajsa-unge_kundkorg-patternLibrary.png', alt='webb, webdesign, pattern library, kundkorg')
        article.s-col-start.text-dark.mrg-top
            a.link-blue-dark.page-scroll(href='#kundkorg-rwd', data-offset='85') Responsivitet
            p
              | Då denna målgrupp uteslutande jobbar med bild och grafik var det ingen svår nöt att knäcka vilken responsiv metod vi skulle ha, dvs, desktop-first.
              br
              br
            a.link-blue-dark.page-scroll(href='#kundkorg-module', data-offset='85') Moduläritet
            p
              | Detta projekt var ett i ledet av många kommande för samma kund så det var viktigt att lägga en bra grund för vidareutveckling och anpassning.
              br
              br
            a.link-blue-dark.page-scroll(href='#kundkorg-popups', data-offset='130') Popup-fönster
            p
              | För att undvika att besökaren skulle tappa bort sig i det mest kritiska steget, dvs, bekräftelse av köp, genom sidomladdningar används överhängande popups. Olika varianter skapades för att hantera olika utvägar.
    section.site-container-col.bgc-grey-dark.pdg-top-50.pdg-btm-50
        img#kundkorg-popups.img-lg.pdg-sides-10p(src='../img/project/kundkorg/kajsa-unge_kundkorg-modals.png', alt='webb, login, popups, kundkorg')
    section.site-container-col.text-dark.pdg-top-50
        h2#kundkorg-rwd.text-dark.mrg-top-40.mrg-btm RWD
        p.text-dark.ingress.mrg-btm-50 Desktop-first
        img.img-lg.pdg-sides-10p(src='../img/project/kundkorg/kajsa-unge_kundkorg-rwd.png', alt='webb, webshop, responsiv, kundkorg')
    section.site-container-col.bgc-grey-dark.mrg-btm-40.pdg-top-btm-80
        h2 Summering
        p.text-block.pdg-sides-10p.mrg-top-20
          | Det här var ett av det första stora projekten där jag hade en betydande roll gällande design och flöde. Utöver att det var fantastiskt roligt var det även extremt intressant och utvecklande. Det visade sig tydligt att uttrycket "learning by doing" sägs alldeles för lite.
