.site-header {
  left: 0;
  top: 0;
  right: 0;
  height: 300px;
  padding: 50px;
  margin: 10px auto 0;
  background-color: #1d1d1d;
  background-image: url('../img/kajsa-unge_main-logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110px auto;
  position: fixed;
  @include mf-large {
    background-size: 200px auto;
    margin: 30px auto 0;
    height: 400px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  position: fixed;
  background-color: #1d1d1d;
  z-index: 1;
  a {
    margin: 0;
    padding: 5px 20px;
  }
}
.home-link {
  display: inline-block;
  position: absolute;
  position: fixed;
  top: -15%;
  left: 0;
  opacity: 0;
  transition: .1s !important;
  &.active {
    opacity: 1;
    top: 7px;
  }
}

.main-logo {
    height: auto !important;
    width:  30px;
  }