.site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 100%;
  margin: 50px auto 0;
  padding: 50px;
  background-color: #1d1d1d;
  .main-logo {
    height: auto !important;
    margin: 10px 0;
    width:  130px;
    @include mf-medium {
      width:  180px;
      margin: 0 auto;
    }
    @include mf-large {
      width:  250px;
      margin: 0 auto;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  position: fixed;
  background-color: #1d1d1d;
  z-index: 1;
  a {
    margin: 0;
    padding: 5px 20px;
  }
}
.home-link {
  position: absolute;
  top: 8px;
  left: 0;
}
.main-logo {
    height: auto !important;
    width:  30px;
  }
