.img {
  border: 0;
  padding: 0;
  width: 100%;
  // height: 100%;
}
.img-lg {
  width: 100%;
  height: auto;
  max-height:100%;
  min-height: 1px;
  max-width: 100%;
  object-fit: cover;
  // min-height: 1px;
}
.img-col {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  // min-height: 50%;
  @include mf-large {
    width: 80%;
  }
}
.img-mid {
  width: 80%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  zoom: 80%;
  // ie-fix: 1px instead of 0
  min-height: 1px;
  @include mf-medium {
      width: 50%;
    }
  @include mf-large {
      width: 50%;
    }
}
.img-linework {
  width: 80%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  zoom: 80%;
  // ie-fix: 1px instead of 0
  min-height: 1px;
  @include mf-small {
      // display: block;
  }
  @include mf-medium {
      width: 50%;
  }
  @include mf-large {
      width: 50%;
  }
}
.img-profile {
  display: block;
  width: 80%;
  max-width: 100%;
  height: auto;
  // max-height: auto; ie-fix
  zoom: 80%;
  // min-height: 0; ie-img fix This worked though
  // ie-fix: 1px instead of 0
  min-height: 1px;
  @include mf-small {
      display: block;
  }
  @include mf-medium {
      width: 50%;
  }
  @include mf-large {
      width: 50%;
  }
}

.s-img-70_m-img-50_l-img-30 {
  width:70%;
  max-width: 100%;
  height: auto;
  // ie-fix: 1px instead of 0
  min-height: 1px;
  zoom: 70%;
  @include mf-medium {
    width: 50%;
  }
    @include mf-large {
    width: 30%;
    }
}
.img-90 {
  width: 90%;
  max-width: 90%;
  height: auto;
  // ie-fix: 1px instead of 0
  min-height: 1px;
  zoom: 70%;
}
.img-sm {
  width: 50%;
  max-width: 100%;
  height: auto;
  // ie-fix: 1px instead of 0
  min-height: 1px;
  zoom: 50%;
    @include mf-large {
    width: 30%;
    }
}
.img-mid-noResize {
  width: 80%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  zoom: 80%;
  // ie-fix: 1px instead of 0
  min-height: 1px;
}
.img-slim {
  width: 100%;
  height: 100%;
}
.l-img-max-width70p {
  @include mf-large {
  max-width: 70%;
  }
}
.main-header {
  background-image: url("http://before.kajsaunge.se/img/kajsa-unge_main-header.jpg");
}
.img-footer-icons {
  width: 100%;
  height: 100%;
}