#page {
  position: relative;
}
.site {
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  // align-items: center;
  // justify-content: center;
  // align-content: stretch;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  height: 100%;
  min-height: 100%;
  .site-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 300px auto 0;
    padding: 0;
    width: 100%;
    background-color: $ku_bg;
    @include mf-large {
      margin-top: 400px;
    }
  }
}
.site-header {
  left: 0;
  top: 0;
  right: 0;
  height: 300px;
  padding: 50px;
  margin: 10px auto 0;
  background-color: #1d1d1d;
  // background-image: url('../img/kajsa-unge-logo-background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110px auto;
  position: fixed;
  @include mf-large {
    background-size: 170px auto;
    margin: 36px auto 0;
  }
}

.section-image {
  display: block;
  width: 80%;
  max-width: 100%;
  height: auto;
  zoom: 80%;
  min-height: 1px;
  padding: 0 5%;
  margin-top: 80px;
  @include mf-medium {
      width: 50%;
  }
  @include mf-large {
      width: 50%;
  }
}
.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  @include mf-large {
    font-size: 75px; font-size: 7.5rem;
  }
  &--white {
    color: white;
  }
}
.section-description {
  color: $ku_grey-dark;
  text-transform: uppercase;
  @include mf-large {
    font-size: 25px; font-size: 2.5rem;
  }
  &--white {
    color: white;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0 70px;
  background-color: $ku_grey-dark;
  color: white;
  .about-text {
    width: 100%;
    padding: 0 5%;
    padding-top: 20px;
    color: white;
      @include mf-medium {
        width: 70%;
      }
      @include mf-large {
        width: 50%;
      }
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding: 50px 0 70px;
  background-color: $ku_bg;
  color: $ku_grey-dark;
  margin: 80 0;
  padding-bottom: 30px;
  .contacts-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .link-pine {
    color: darken($ku_pine, 5%);
    &:hover {
      color: $ku_pine;
      text-decoration: underline;
    }
  }
}

.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  background-color: white;
  .footer-link {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1d;
    font-size: 1.2rem;
    background-size: 30px;
    padding-top: 32px;
    min-width: 50px;
    text-indent: 9999px;
    background-position: center;
    @include mf-small {
      text-indent: 0;
      background-position: top center;
    }
  }
  @include mf-medium {
    padding-left: 18%;
    padding-right: 18%;
  }
}
// .codepen {
//   background: url('../img/icon-codepen.svg') top center no-repeat;
// }
// .linkedin {
//   background: url('../img/icon-linked.svg') top center no-repeat;
// }
// .insta {
//   background: url('../img/icon-insta.svg') top center no-repeat;
// }
// .random {
//   background: url('../img/icon-randomize.svg') top center no-repeat;
// }
// .convert {
//   background: url('../img/icon-unit-converter.svg') top center no-repeat;
// }