/*  TYPE */
$bodycopy: 'Lato', sans-serif;
$display: 'Playfair Display', serif;
$font-size: 16px 1.6rem; // and dropdown

/*  COLORS */
$ku_red: #d3565e;
$ku_pine: #18ad93;
$ku_grey: #4B4B4B;
$ku_grey-dark: darken(#4B4B4B, 18%);
$ku_mint: #7BE5B0;

$ku_marine: #39B6CC;
$ku_blue-dark: #0A424C;
$ku_yellow: #E5C333;
$ku_bg: #f7f7f7;
$ku_f: #123456;

/* BREAKPOINTS for 1.0 */
$bp-mobile : 25em; /* 400px */
$bp-small : 35em; /* 560px */
$bp-medium : 62.5em; /* 1000px */
$bp-large : 103.750em; /* 1660px */

/* BREAKPOINTS for 1.1 */
/* $bp-small : 24em; // 384px
$bp-small-2 : 30.75em; // 492px
$bp-small-3 : 39.8em; // 624px
$bp-medium : 46.8em; // 748px
$bp-medium-2 : 47.5em; // 760px
$bp-large : 50em; // 800px
$bp-large-2 : 51.875em; // 830px
$bp-large-3 : 54.5em; // 872px
$bp-xl : 60em;
$bp-xl-2 : 67em; */
